html,
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    background: #fafafa;
}

.jumbotron {
    background-color: #235490;
    color: #fff;
    margin-bottom: 0;
}

.player-with-stats {
    display: flex;
}

.stats-row {
    font-size: 12px;
    margin-bottom: 2px;
}

.stream-stats {
    min-width: 260px;
}

.stats {
    color: gray;
}

#live_streaming_container {
    width: 23rem!important;
}

.button-group {
    margin: auto;
}

.agora-theme .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.agora-theme .agora-primary-bg {
    margin-bottom: 10px;
    color: #fff;
    background-color: #1E88E5 !important;
    align-items: center;
}

.agora-theme .card.container {
    margin-left: 20px;
}

.agora-theme h2 {
    margin: 0;
    margin-left: 20px;
}

.agora-theme nav {
    height: 65px;
}

.agora-theme .agora-secondary-border {
    border: 1px solid #424242 !important;
}

.agora-theme .agora-secondary-bg {
    color: #fff;
    background-color: #424242 !important;
    align-items: center;
}

.agora-theme .switch {
    height: 55px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.agora-theme .switch h6 {
    margin: 0;
}

.agora-theme #local_stream {
    position: relative;
}

.agora-theme #local_video_info {
    position: absolute;
}

.agora-theme .video-view {
    position: relative;
}

.agora-theme .video-view,
.agora-theme .video-placeholder,
.agora-theme #local_stream,
.agora-theme #local_video_info {
    width: 480px;
    height: 320px;
}

.agora-theme .video-profile {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    z-index: 2;
    color: #fff;
    opacity: 0.9;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 10px;
}

.agora-theme .video-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
}

.agora-theme .autoplay-fallback {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: block;
    cursor: pointer;
}

.agora-theme .autoplay-fallback::after {
    content: "click here to play";
    font-size: 1.5rem;
    opacity: 0.9;
    text-shadow: black 0.1em 0.1em 0.2em;
    display: block;
    color: #fff;
}

#local-player {
    /* padding-bottom: 15px;
    width: 400px;
    height: 400px; */
}

.player {
    width: 480px;
    height: 320px;
    margin-right: 10px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.btn-primary {
    cursor: pointer;
}

.remote-playerlist {
    width: 100%;
    display: flex;
}

.player-wrapper {
    /* display: inline-block;
    margin: 0 auto;
    padding: 3px; */
}

.form-group {
    width: 60%;
}

.input-group .mb-3 {
    padding-left: 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

legend,
.mb-3,
.my-3,
#log {
    padding-left: 15px;
}

.channel-container {
    display: none;
}

.video-group {
    padding-left: 3rem!important;
}

@media (min-width: 576px) {
    .jumbotron {
        padding: 2rem 2rem;
    }
}

@media screen and (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1140px;
    }
}


/*
@media screen and (min-width: 992px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 960px;
    }
}

@media screen and (min-width: 768px) {
    .container,
    .container-md,
    .container-sm {
        max-width: 720px;
    }
}

@media screen and (min-width: 576px) {
    .container,
    .container-sm {
        max-width: 540px;
    }
}

@media screen and (max-width: 640px) {
    .player {
        width: 320px;
        height: 240px;
    }
}*/